@charset "utf-8";
body {
	margin-left: 0px;
	margin-top: 5px;
	margin-right: 0px;
	margin-bottom: 0px;
}

.header1 {
	margin: 0px;
	padding: 0px;
	height: 118px;
	width: 1200px;
}
.logo {
	height: 50px;
	width: 412px;
	margin-left: 116px;
	margin-top:14 px;
	background-image: url(../_img/logo.jpg);
	background-repeat:no-repeat;
	padding-top:65px;
	font-size:24px ;
	font-family:Georgia, "Times New Roman", Times, serif ;
	float:left;
	padding-left:0px;

}

.callme {
	height: 115px;
	width: 306px;
	margin-left: 279px;
	float:left;
	background-image:url(../_img/call_me.jpg)

}
.header2 {
	margin: 0px;
	padding: 0px;
	height: 50px;
	width: 1200px;
}
.home {
    height: 42px;
	width: 81px;
	margin-left: 116px;
	float:left;

}
	.about {
    height: 42px;
	width: 147px;
	margin-left: 33px;
	float:left;

}

	.serv {
    height: 42px;
	width: 118px;
	margin-left: 29px;
	float:left;

}

	.multi {
    height: 42px;
	width: 160px;
	margin-left: 21px;
	float:left;

}

.contact {
    height: 42px;
	width: 138px;
	margin-left: 26px;
	float:left;

}
.headline {
    height: 6px;
	width: 1200px;
	background-image:url(../_img/headline.jpg);
	background-repeat:repeat-x ;
}

.content1 {
	height: 484px;
	width: 1200px;
	background-image: url(../_img/content_1_background.jpg);
	background-repeat: repeat-x;
}

.contentbox {
	height: 435px;
	width: 962px;
	background-color:#FFF ;
	margin-left:117px;
	margin-top: 8px;
	position:absolute;
}

.adobepic {
	height: 412px;
	width: 603px;
	margin-left:8px;
	margin-top: 10px;
	float:left;
	background-image:url(../_img/adope_pic.jpg);
}
.textadobepic {
	height: 77px;
	width: 590px;
	margin-top: 334px;
	margin-left: 12px;
	margin-right: 10px;
	float:left;
	text-align: justify;
	font-size: 36px;
	color: #FFF;
}

.gredbox {
	height: 412px;
	width: 329px;
	margin-left:12px;
	margin-top: 10px;
	float:left;
	background-image:url(../_img/bacground_box.jpg);
	background-repeat:repeat-x;
}

.content2 {
	height: 158px;
	width: 1200px;
	background-color:#FFF
}

.title1 {
	height: 50px;
	width: 188px;
	margin-left:69px;
	margin-top:17;
	font-size:35px;
	float:left;
}

.title2 {
	height: 30px;
	width: 200px;
	margin-left:41px;
	margin-top:34;
	font-size:19px;
	float:left;
	text-align:left;
}

.titletext {
	height: 48px;
	width: 261px;
	margin-left:39px;
	margin-top:11px;
	margin-bottom:15px;
	float:left;
}
.titletext2 {
	height: 30px;
	width: 261px;
	margin-left:39px;
	margin-top:11px;
	float:left;
	margin-bottom:15px;
}

.title3 {
	height: 35px;
	width: 250px;
	margin-left:41px;
	margin-top:34;
	font-size:19px;
	float:left;
	text-align:left;
}
.button2 {
	height: 51px;
	width: 109px;
	margin-left:42px;
	margin-top:22;
	float:left;
	background-image:url(../_img/button1.gif);
	vertical-align:middle;
	font-size:18px;
	
}

.bordbox {
	height: 141px;
	width: 216px;
	margin-left:121px;
	margin-top:10px;
	background-image:url(../_img/border_box.jpg);
	float:left;
}

.bordtext {
	height: 25px;
	width: 206px;
	margin-left:5px;
	margin-top:5px;
	margin-right:5px;
	float:left;
	font-size: 18px;
}
.bordtext2 { 

	height: 65px;
	width: 206px;
	margin-left:5px;
	margin-top:5px;
	margin-right:5px;
	float:left;
}
.bordtext3 {
	height: 20px;
	width: 206px;
	margin-left:5px;
	margin-top:5px;
	margin-right:5px;
	float:left;
	text-align: right;
	font-size: 16px;
	font-style: italic;
}


.bordbox2 {
	height: 141px;
	width: 216px;
	margin-left:151px ;
	margin-top:10px;
	background-image:url(../_img/border_box.jpg);
	float:left;
}

.bordbox3 {
	height: 141px;
	width: 216px;
	margin-left:158px ;
	margin-top:10px;
	background-image:url(../_img/border_box.jpg);
	float:left;
}

.footer {
	height: 136px;
	width: 1200px;
	background-image:url(../_img/footer_background.jpg);
	background-repeat:repeat-x;
}
.fotdiv1 {
	height: 43px;
	width: 444px;
	margin-left:120px;
	margin-top:86px;
	float:left;
	font-size: 16px;
	color: #FFF;
	text-align: left;
}
.fotdiv2 {
	height: 101px;
	width: 363px;
	margin-left:164px;
	margin-top:13px;
	float:left;
}

.fotdiv2-1 {
	height: 28px;
	width: 363px;
	font-size: 20px;
	color: #FFF;
	text-align: left;
	float:left
}

.fotdiv2-2 {
	height: 57px;
	width: 203px;
	font-size: 20px;
	float:left;
	margin-left:0px;
}
.fotdiv2-3 {
	height: 54px;
	width: 117px;
	margin-left:21px;
	float:left;
}

.adobefont {
	font-size: 14px;
}

.font12 {
	font-size: 12px;
}
.font2 {
	font-size: 18px;
}

.inputtext { width: 203px; height: 28px; }

a:link {text-decoration:underline;}    /* unvisited link */
a:visited {text-decoration:underline;} /* visited link */
a:hover {text-decoration:underline; color:#00F}  /* mouse over link */
a:active {text-decoration:underline;}}  /* selected link */

.button1 {
	height:54px;
	width:117px;
	background-image:url(../_img/button.jpg) ;
	font-size:24px ;
}

.insidebuton {
	margin-top:25;
	margin-left:50;
	height:25px;
}

